.todo-list li .icon.icon-pause,
.todo-list li .icon.icon-play {
	font-size: 18px;
	width: 18px;
	height: 18px;
}

.todo-list li .icon-play {
	font-size: 15px;
}

.icon-pause:after {
	content: '⏸';
}

.icon-play:after {
	content: '▶';
}